<template name="spinview">
  <div class="row margintop15">
    {{#if Template.subscriptionsReady}}
    <div class="col-md-2"><p class="text-muted text-center"> Price: {{luckyprice}}</p></div>
        <input type="button" class="rollluck col-md-2" value="Roll Luck"/>
        <input type="button" class="accept col-md-2" value="Accept"/>
        <input type="button" class="pullout col-md-2" value="Pullout"/>
    {{/if}}  
  </div>
  {{> spinhistory}}
</template>


<template name="spinhistory">
    {{#each bargainhistory}}
        <div>Offer of {{askingprice}} declined</div>
    {{/each}} 
</template>
